<!doctype html>
<html lang="en" ng-app='myFirstAssig'>
  <head>
    <title>Lunch Checker</title>
    
    <script  src="angular.min.js"></script>
    <script  src="ASSIGNMENT1.js"></script>
    
  </head>
<body>
   <div class="container" ng-controller='MsgController'>
     <h1>Lunch Checker</h1>


         <div class="form-group TextField">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"ut
             class="form-control" ng-model="input" style="border-color: {{borderColor}}" >
            
    
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[We do Not consider an Empty item, i.e (  , ,  )]
             

         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkLunch()">Check If Too Much</button>
         </div><br>
         <div class="form-group message">
           {{result}}
           <style>
      .message { font-size: 1.3em; font-weight: bold; color: {{colorResult}}; }
    </style>
         </div>
   </div>

</body>
</html>