body {
  font-size: 1.2em;
}
.error {
  color: red;
}

.btnBought{
	color: blue;
}
.btnBought:hover{
	background-color: #cce6ff;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}