.Button{
	display: inline-block;
	padding: 5px 32px;
	
}
.Button:hover{
	display: inline-block;
	background-color: #b3e6ff;
	transition: 0.3s;
}

.TextBox{
	text-shadow: transparent;
	text-decoration-color: currentColor;
	padding: 5px 32px;
}

.RemoveButton{
	background-color:#e6f7ff;
}
.RemoveButton:hover{
	background-color: #b3e6ff;
}
.Error{
	color: Red;
	font-size: 2.2em;
}